In [38]:
import sqlite3

In [39]:

import sqlite3

conn = sqlite3.connect('students.db')

# Creating a cursor object
cursor = conn.cursor()

In [40]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS students (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    age INTEGER,
    grade TEXT
)
''')
conn.commit()
print("Table created successfully.")

Table created successfully.

In [41]:
def insert_student(name, age, grade):
    cursor.execute("INSERT INTO students (name, age, grade) VALUES (?, ?, ?)", (name, age, grade))
    conn.commit()
    print("Student inserted successfully.")


insert_student('Riya', 20, 'A')
insert_student('Divyank', 22, 'B')

Student inserted successfully.
Student inserted successfully.

In [42]:
def fetch_students():
    cursor.execute("SELECT * FROM students")
    rows = cursor.fetchall()
    for row in rows:
        print(row)


fetch_students()

(1, 'Riya Sharma', 21, 'A+')
(3, 'Riya', 20, 'A')
(4, 'Divyank', 22, 'B')

In [43]:
def update_student(student_id, new_name, new_age, new_grade):
    cursor.execute("UPDATE students SET name=?, age=?, grade=? WHERE id=?", (new_name, new_age, new_grade, student_id))
    conn.commit()
    print("Student updated successfully.")
update_student(1, 'Riya Sharma', 21, 'A+')

Student updated successfully.

In [44]:
def delete_student(student_id):
    cursor.execute("DELETE FROM students WHERE id=?", (student_id,))
    conn.commit()
    print("Student deleted successfully.")


delete_student(2)

Student deleted successfully.

In [45]:
conn.close()
print("Database connection closed.")

Database connection closed.

In [46]:
#major project

In [47]:
import sqlite3

# Database connection
conn = sqlite3.connect("atm.db")
cur = conn.cursor()

# Table create (run once)
cur.execute('''
CREATE TABLE IF NOT EXISTS accounts (
    acc_no INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT,
    pin TEXT,
    balance REAL
)
''')
conn.commit()

In [48]:
def create_account(name, pin, balance):
    cur.execute("INSERT INTO accounts (name, pin, balance) VALUES (?, ?, ?)", (name, pin, balance))
    conn.commit()
    print(" Account created successfully!")

# Example
# create_account("Divyank", "1234", 5000)

In [49]:
def login(acc_no, pin):
    cur.execute("SELECT * FROM accounts WHERE acc_no=? AND pin=?", (acc_no, pin))
    user = cur.fetchone()
    if user:
        print(f" Welcome {user[1]}!")
        return user
    else:
        print(" Invalid account number or PIN.")
        return None

In [50]:
def check_balance(acc_no):
    cur.execute("SELECT balance FROM accounts WHERE acc_no=?", (acc_no,))
    balance = cur.fetchone()[0]
    print(f"Current Balance: ₹{balance}")

In [51]:
def deposit(acc_no, amount):
    cur.execute("UPDATE accounts SET balance = balance + ? WHERE acc_no=?", (amount, acc_no))
    conn.commit()
    print(f" ₹{amount} deposited successfully.")

In [52]:
def withdraw(acc_no, amount):
    cur.execute("SELECT balance FROM accounts WHERE acc_no=?", (acc_no,))
    current_balance = cur.fetchone()[0]

    if amount > current_balance:
        print(" Insufficient balance!")
    else:
        cur.execute("UPDATE accounts SET balance = balance - ? WHERE acc_no=?", (amount, acc_no))
        conn.commit()
        print(f" ₹{amount} withdrawn successfully.")

In [53]:
def atm_menu():
    print("===== Welcome to Python ATM =====")
    acc_no = int(input("Enter Account Number: "))
    pin = input("Enter PIN: ")

    user = login(acc_no, pin)
    if not user:
        return

    while True:
        print("\n--- Menu ---")
        print("1. Check Balance")
        print("2. Deposit")
        print("3. Withdraw")
        print("4. Exit")
        choice = input("Enter your choice: ")

        if choice == '1':
            check_balance(acc_no)
        elif choice == '2':
            amt = float(input("Enter amount to deposit: ₹"))
            deposit(acc_no, amt)
        elif choice == '3':
            amt = float(input("Enter amount to withdraw: ₹"))
            withdraw(acc_no, amt)
        elif choice == '4':
            print(" Thank you for using the ATM. Bye!")
            break
        else:
            print("Invalid choice.")

In [54]:
# atm_menu()
conn.close()