In [5]:
prod=str(input("enter the product"))
quan=int(input("enter the quantity"))
price=int(input("enter the price"))
tprice=quan*price
print("total amount for",prod,tprice)

enter the product tomato
enter the quantity 2
enter the price 350

total amount for tomato 700

In [6]:
num1=15
num2=20
num3=30.38
sum=num1+num2+num3
print(sum)

65.38

In [11]:
num1=15
str1="cat"
print(str(num1)+str1)

15cat

In [12]:
num1=15
str1="15"
print(str(num1)+str1)

1515

In [14]:
str1="15"
str2="15"
print(str1+str2)

1515

In [ ]:
#type conversion
1.explicit
2.implicit

In [ ]:
#control flow
1.if
2.elif
3.else

In [15]:
a=10
if a>5:
    print("hello")

hello

In [16]:
a=10
if a>15:
    print("hello")

In [17]:
a=10
if a>15:
    print("hello")
else:
    print("bye")

bye

In [18]:
age=int(input("enter your age"))
if age>=18:
    print("you are eligible to vote")
else:
    print("you are not eligible to vote")

enter your age 19

you are eligible to vote

In [21]:
month=str(input("enter month name"))
if month in["december","january","february"]:
    print("winter")
elif month in["march","april","may"]:
    print("spring")
elif month in["june","july","august"]:
    print("summer")
elif month in["september","october","november"]:
    print("autumn")
else:
    print("invalid month name")

enter month name january

winter

In [23]:
transport=str(input("enter mode of transportation mode"))
transportveh=str(input("enter transport vehicle preferred"))
if transport=="land": 
    if transportveh=="car":
        print("car being used for land transportation")
    elif transportveh=="bike":
        print("bike being used for land transportation")
    elif transportveh=="bus":
        print("bus being used for land transportation")
if transport=="water":
    if transportveh=="boat":
        print("boat being used for water transportation")
    elif transportveh=="ship":
        print("ship being used for water transportation")
if transport=="air":
    if transportveh=="airplane":
        print("airplane being used for air transportation")
    elif transportveh=="helicopter":
        print("helicopter being used for air transportation")

enter mode of transportation mode air
enter transport vehicle preferred airplane

airplane being used for air transportation

In [ ]:
#grouping 
1.while
2.for

In [27]:
num=2 
i=1
while i<=10:
    product=num*i
    print(product)
    i+=1

2
4
6
8
10
12
14
16
18
20