In [ ]:
#function
syntax- def div()
             ^ ^
function name parameter
function is made to reuse the code multiple times in a program
global and local scope of variable doesnt work in python's function loop(define it under the function)

In [3]:
a=3
b=5
def sum():
    print(a+b)
sum()

8

In [4]:
def sum(a,b):
    print(a+b)
sum(4,5)

9

In [5]:
#types of argument(user defined) -1.required arguments
def add(a,b):
    print(a+b)
add(4,4) #one value will lead to error as two value is required in this specific case

8

In [13]:
#first 15th even number
def div():
    num = 0
    count = 0
    while count < 15:
        if num % 2 == 0:
            print(num)
            count += 1
        num += 1

div()

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28

In [12]:
#keyword arguments
def student(name,age):
    print(name,"is",age,"years old")
student(age=21,name="myna")

myna is 21 years old

In [51]:
#variable length arguments / multi positional
def total_marks(*marks):
    print("All marks:", marks)
    total = 0
    for mark in marks:
        total += mark
    print("Total:", total)

total_marks(80, 85, 90, 75)

All marks: (80, 85, 90, 75)
Total: 330

In [1]:
#default arguments
def greet(name="myna"):
    print("hello",name)
greet()
greet(arin)#it will be overridden

hello myna

NameError: name 'arin' is not defined

In [ ]:
#function assignment

In [22]:
a=int(input("enter a no."))
def sq():
    print(a**2)
sq()

enter a no. 4

16

In [24]:
a=int(input("enter a no."))
b=int(input("enter a no."))
def add():
    print(a+b)
add()

enter a no. 4
enter a no. 4

8

In [27]:
num=int(input("enter a no."))
def div():
    if num%2==0:
        print(num,"is a even no.")
    else:
        print(num,"is a odd no.")
div()

enter a no. 7

7 is a odd no.

In [28]:
type(lambda x: x)

function

In [29]:
def foo(): pass
print(foo())

None

In [30]:
 len([1, 2, 3])

3

In [35]:
#lambda function
x = lambda a, b: a * b
print(x(5, 3))

15

In [34]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)
num = 5
result = factorial(num)
print(f"The factorial of {num} is {result}")

The factorial of 5 is 120

In [36]:
def find_largest(lst):
    return max(lst)
numbers = [5, 12, 7, 3, 25, 10]
print("Largest element:", find_largest(numbers))

Largest element: 25

In [69]:
def rev(s):
    r = ""
    for i in s:
        r = i + r
    return r

s = "myna"
print(rev(s))

anym

In [40]:
 bool('False')

True

In [41]:
def is_palindrome(s):
    s = s.lower().replace(" ", "")  
    return s == s[::-1]
print(is_palindrome("madam"))
print(is_palindrome("racecar"))      
print(is_palindrome("hello"))        
print(is_palindrome("Nurses Run"))

True
True
False
True

In [52]:
def reverse_str(s):
    reverse_str=""
    for char in s:
        reverse_str= char+reverse_str
    return reverse_str
print(reverse_str("papa"))

apap

In [56]:
def fibbonacci_recursion(n):
    if n<=1:
        return n
    return fibbonacci_recursion(n-1)+fibbonacci_recursion(n-2)
print("fibbonacci series:",end="")
for i in range(10):
        print(fibbonacci_recursion(i),end="")

fibbonacci series:0112358132134

In [59]:
#list data structure of python syntax below
l1=[7,"s",7,5]
type(l1)

list

In [ ]:
#features/charactistic of list- 1.mutable 2.ordered 3.collection of multiple datatypes 4. duplicacy allowed

In [90]:
#method of list-
# 1.append()-it will add item at the end of list
l1=[1,2,3]
l1.append(4)
print(l1)
# 2.insert()-insert new item and can add it in any index syntax-l1.insert(index,item)
l1=[1,2,3]
l1.insert(2,4)
print(l1)
# 3. extend()- we use this to add multiple elements into the list
l2=[1,2,3,4]
l2.extend((5,6,7))
print(l2)
# 4. pop()- remove last item
l3=[2,4,6,8,10]
l3.pop()
print(l3)
#5. remove()- remove first match
l4=[1,2,3]
l4.remove(2)
print(l4)
#6. clear()-clean the whole list
l5=[1,2,3]
l5.clear()
print(l5)
#7. index- gets the index of the value
l5=[3,4,5,6,7]
print(l5.index(3))
#8.count- count the occurance
l5=[1,1,2,3,4,5,6]
print(l5.count(1))
# 9. sort()- sort the list ascending
l6=[9,8,7,6,5]
l6.sort()
print(l6)
# 10. reverse()- reverse the list
l6=[1,1,2,3,4,5,6]
l6.reverse()
print(l6)
# 11. copy()- copies the list 
l7=[2,4,6,8]
l8=l7.copy()
print(l8)

[1, 2, 3, 4]
[1, 2, 4, 3]
[1, 2, 3, 4, 5, 6, 7]
[2, 4, 6, 8]
[1, 3]
[]
0
2
[5, 6, 7, 8, 9]
[6, 5, 4, 3, 2, 1, 1]
[2, 4, 6, 8]

In [94]:
#slicing 
l1=[0,1,2,3,4,5,6,7,8,9]
print(l1[0:4])
print(l1[4:])

[0, 1, 2, 3]
[4, 5, 6, 7, 8, 9]

In [95]:
#list comprehension 
[i**2 for i in [1,2,3]]

[1, 4, 9]

In [96]:
[10*i+j for i in [1,2,3] for j in [5,7]]

[15, 17, 25, 27, 35, 37]